In [1]:
import pickle
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
#import os
#import sklearn
#from scipy.stats import linregress

In [2]:
#read in the data frame
raw_df = pd.read_csv("KaggleV2-May-2016.csv")

In [3]:
raw_df.head(20)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
5,9.598513e+13,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,76,REPÚBLICA,0,1,0,0,0,0,No
6,7.336882e+14,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,GOIABEIRAS,0,0,0,0,0,0,Yes
7,3.449833e+12,5630575,F,2016-04-27T15:39:58Z,2016-04-29T00:00:00Z,39,GOIABEIRAS,0,0,0,0,0,0,Yes
8,5.639473e+13,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,ANDORINHAS,0,0,0,0,0,0,No
9,7.812456e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,0,0,0,0,0,No
10,7.345362e+14,5630213,F,2016-04-27T14:58:11Z,2016-04-29T00:00:00Z,30,NOVA PALESTINA,0,0,0,0,0,0,No
11,7.542951e+12,5620163,M,2016-04-26T08:44:12Z,2016-04-29T00:00:00Z,29,NOVA PALESTINA,0,0,0,0,0,1,Yes
12,5.666548e+14,5634718,F,2016-04-28T11:33:51Z,2016-04-29T00:00:00Z,22,NOVA PALESTINA,1,0,0,0,0,0,No
13,9.113946e+14,5636249,M,2016-04-28T14:52:07Z,2016-04-29T00:00:00Z,28,NOVA PALESTINA,0,0,0,0,0,0,No
14,9.988472e+13,5633951,F,2016-04-28T10:06:24Z,2016-04-29T00:00:00Z,54,NOVA PALESTINA,0,0,0,0,0,0,No
15,9.994839e+10,5620206,F,2016-04-26T08:47:27Z,2016-04-29T00:00:00Z,15,NOVA PALESTINA,0,0,0,0,0,1,No
16,8.457439e+13,5633121,M,2016-04-28T08:51:47Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,No
17,1.479497e+13,5633460,F,2016-04-28T09:28:57Z,2016-04-29T00:00:00Z,40,CONQUISTA,1,0,0,0,0,0,Yes
18,1.713538e+13,5621836,F,2016-04-26T10:54:18Z,2016-04-29T00:00:00Z,30,NOVA PALESTINA,1,0,0,0,0,1,No
19,7.223289e+12,5640433,F,2016-04-29T10:43:14Z,2016-04-29T00:00:00Z,46,DA PENHA,0,0,0,0,0,0,No

In [4]:
raw_df.shape

(110527, 14)

In [5]:
raw_df.head(2)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No

In [6]:
raw_df['No-show']

0         No
1         No
2         No
3         No
4         No
          ..
110522    No
110523    No
110524    No
110525    No
110526    No
Name: No-show, Length: 110527, dtype: object

In [7]:
raw_df['No-show'].value_counts()

No     88208
Yes    22319
Name: No-show, dtype: int64

In [8]:
n_rows_to_sample = 1000

In [9]:
no_show_raw_df = raw_df[raw_df['No-show']=='Yes']
print(no_show_raw_df.shape)
no_show_raw_df = no_show_raw_df.sample(n = n_rows_to_sample, random_state = 0)
print(no_show_raw_df.shape)

(22319, 14)
(1000, 14)

In [10]:
show_raw_df = raw_df[raw_df['No-show']=='No']
print(show_raw_df.shape)
show_raw_df = show_raw_df.sample(n = n_rows_to_sample, random_state = 0)
print(show_raw_df.shape)

(88208, 14)
(1000, 14)

In [11]:
reduced_raw_df = no_show_raw_df.append(show_raw_df)
reduced_raw_df.shape

(2000, 14)

In [12]:
reduced_raw_df.head(2)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
99054,4.852530e+11,5733501,F,2016-05-24T13:57:02Z,2016-06-06T00:00:00Z,21,DA PENHA,0,0,0,0,0,1,Yes
110482,5.944225e+14,5639147,F,2016-04-29T08:45:44Z,2016-06-06T00:00:00Z,43,RESISTÊNCIA,1,0,0,0,0,1,Yes

In [13]:
reduced_raw_df.replace(['Yes', 'No'], value=[0, 1])

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
99054,4.852530e+11,5733501,F,2016-05-24T13:57:02Z,2016-06-06T00:00:00Z,21,DA PENHA,0,0,0,0,0,1,0
110482,5.944225e+14,5639147,F,2016-04-29T08:45:44Z,2016-06-06T00:00:00Z,43,RESISTÊNCIA,1,0,0,0,0,1,0
101296,8.178334e+13,5763288,M,2016-06-02T08:46:25Z,2016-06-02T00:00:00Z,60,CENTRO,0,0,0,0,0,0,0
79550,5.242553e+13,5619395,M,2016-04-26T07:58:07Z,2016-05-04T00:00:00Z,14,DA PENHA,0,0,0,0,0,1,0
78116,8.268896e+14,5685155,F,2016-05-11T09:46:17Z,2016-05-17T00:00:00Z,30,SANTA MARTHA,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65731,2.554982e+12,5741906,F,2016-05-30T07:33:04Z,2016-05-30T00:00:00Z,76,SÃO CRISTÓVÃO,0,1,1,0,0,0,1
73006,7.318389e+13,5670176,F,2016-05-06T13:13:57Z,2016-05-16T00:00:00Z,4,ESTRELINHA,0,0,0,0,0,0,1
108524,9.432277e+09,5758129,F,2016-06-01T10:18:40Z,2016-06-06T00:00:00Z,64,SANTOS DUMONT,0,0,0,0,0,1,1
51517,9.997776e+11,5626602,F,2016-04-27T08:25:33Z,2016-05-11T00:00:00Z,37,PIEDADE,0,1,0,0,0,1,1
25557,7.988888e+12,5643140,F,2016-05-02T07:09:39Z,2016-05-09T00:00:00Z,20,GOIABEIRAS,0,0,0,0,0,0,1

In [14]:
reduced_raw_df.head(50)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
99054,4.852530e+11,5733501,F,2016-05-24T13:57:02Z,2016-06-06T00:00:00Z,21,DA PENHA,0,0,0,0,0,1,Yes
110482,5.944225e+14,5639147,F,2016-04-29T08:45:44Z,2016-06-06T00:00:00Z,43,RESISTÊNCIA,1,0,0,0,0,1,Yes
101296,8.178334e+13,5763288,M,2016-06-02T08:46:25Z,2016-06-02T00:00:00Z,60,CENTRO,0,0,0,0,0,0,Yes
79550,5.242553e+13,5619395,M,2016-04-26T07:58:07Z,2016-05-04T00:00:00Z,14,DA PENHA,0,0,0,0,0,1,Yes
78116,8.268896e+14,5685155,F,2016-05-11T09:46:17Z,2016-05-17T00:00:00Z,30,SANTA MARTHA,0,0,0,0,0,0,Yes
105265,1.422834e+11,5766102,M,2016-06-02T14:25:43Z,2016-06-02T00:00:00Z,7,BELA VISTA,1,0,0,0,0,0,Yes
46332,5.588244e+14,5658780,M,2016-05-04T11:52:56Z,2016-05-18T00:00:00Z,52,JARDIM CAMBURI,0,1,0,0,0,0,Yes
35245,4.834932e+14,5738962,F,2016-05-25T12:04:58Z,2016-05-30T00:00:00Z,16,TABUAZEIRO,1,0,0,0,0,1,Yes
50760,3.723685e+12,5585171,M,2016-04-14T15:53:44Z,2016-05-10T00:00:00Z,45,SANTOS DUMONT,0,0,0,0,0,0,Yes
16394,9.199117e+13,5633368,F,2016-04-28T09:22:54Z,2016-05-10T00:00:00Z,54,TABUAZEIRO,1,1,0,0,0,1,Yes
62894,7.965423e+11,5413328,F,2016-03-01T09:30:11Z,2016-05-04T00:00:00Z,75,JARDIM CAMBURI,0,0,0,0,0,1,Yes
82220,7.737800e+12,5624562,F,2016-04-26T16:19:43Z,2016-05-31T00:00:00Z,53,ITARARÉ,0,0,0,1,0,1,Yes
44559,1.964539e+13,5647120,F,2016-05-02T12:55:46Z,2016-05-09T00:00:00Z,44,GURIGICA,0,1,0,0,0,0,Yes
9578,1.551669e+12,5549244,M,2016-04-06T09:38:50Z,2016-05-11T00:00:00Z,26,ROMÃO,0,0,0,0,0,1,Yes
72978,1.353654e+11,5635320,F,2016-04-28T13:09:16Z,2016-05-25T00:00:00Z,37,JARDIM CAMBURI,0,0,0,1,0,1,Yes
104383,8.347981e+11,5767593,M,2016-06-02T18:49:56Z,2016-06-08T00:00:00Z,50,DO CABRAL,0,1,0,0,0,1,Yes
24589,6.118786e+11,5698230,F,2016-05-16T07:23:32Z,2016-05-18T00:00:00Z,61,RESISTÊNCIA,1,1,0,0,0,0,Yes
52657,5.764477e+14,5534234,F,2016-03-31T15:34:11Z,2016-05-20T00:00:00Z,39,JESUS DE NAZARETH,0,0,0,0,0,0,Yes
13880,5.849162e+14,5688109,F,2016-05-12T06:41:07Z,2016-05-16T00:00:00Z,67,INHANGUETÁ,0,1,1,0,0,0,Yes
43415,9.214626e+12,5617096,M,2016-04-25T15:22:59Z,2016-05-09T00:00:00Z,9,ILHA DO PRÍNCIPE,1,0,0,0,0,0,Yes
6268,1.257286e+13,5648023,F,2016-05-02T14:54:21Z,2016-05-04T00:00:00Z,46,SANTA TEREZA,0,0,0,0,0,0,Yes
33337,7.766948e+13,5596353,F,2016-04-18T14:27:10Z,2016-05-16T00:00:00Z,43,SANTA MARTHA,0,0,0,0,0,0,Yes
27910,1.856526e+13,5680737,M,2016-05-10T12:31:53Z,2016-05-13T00:00:00Z,49,CRUZAMENTO,0,0,0,0,0,0,Yes
25086,8.759673e+13,5602687,M,2016-04-19T15:32:47Z,2016-05-03T00:00:00Z,41,ANDORINHAS,0,0,0,0,1,1,Yes
49836,2.686554e+14,5570817,F,2016-04-12T08:18:31Z,2016-05-03T00:00:00Z,28,JARDIM DA PENHA,0,0,0,0,0,1,Yes
11065,2.932789e+13,5512500,M,2016-03-28T08:57:08Z,2016-05-02T00:00:00Z,5,RESISTÊNCIA,0,0,0,0,0,1,Yes
106027,4.638723e+13,5758018,F,2016-06-01T10:08:43Z,2016-06-06T00:00:00Z,73,SANTA MARTHA,0,1,0,0,1,1,Yes
57910,4.568798e+13,5621920,M,2016-04-26T11:02:55Z,2016-05-19T00:00:00Z,0,CONQUISTA,0,0,0,0,0,0,Yes
2766,9.359623e+11,5598444,M,2016-04-19T07:34:47Z,2016-04-29T00:00:00Z,10,SÃO JOSÉ,0,0,0,0,0,1,Yes
110173,7.628193e+13,5756815,F,2016-06-01T08:42:10Z,2016-06-03T00:00:00Z,44,CENTRO,0,0,0,0,0,0,Yes
71419,6.733238e+13,5676169,M,2016-05-09T15:07:28Z,2016-05-10T00:00:00Z,82,MONTE BELO,0,0,0,0,0,0,Yes
21061,2.744384e+14,5645032,F,2016-05-02T09:25:09Z,2016-05-11T00:00:00Z,31,REPÚBLICA,0,0,0,0,0,1,Yes
53241,6.575144e+13,5691867,M,2016-05-12T13:51:32Z,2016-05-12T00:00:00Z,14,ILHA DO PRÍNCIPE,0,0,0,0,0,0,Yes
21082,1.861595e+10,5658280,F,2016-05-04T10:49:43Z,2016-05-16T00:00:00Z,28,BOA VISTA,0,0,0,0,0,0,Yes
88943,4.197426e+14,5706723,F,2016-05-17T08:44:32Z,2016-06-01T00:00:00Z,35,BELA VISTA,1,0,0,0,0,1,Yes
104455,9.175546e+13,5734881,F,2016-05-24T16:20:59Z,2016-06-01T00:00:00Z,66,SANTO ANDRÉ,0,0,0,0,0,1,Yes
97765,1.115578e+11,5761649,F,2016-06-02T06:47:42Z,2016-06-02T00:00:00Z,45,CENTRO,0,0,0,0,0,0,Yes
63888,1.781970e+12,5732162,F,2016-05-24T11:04:57Z,2016-05-24T00:00:00Z,17,REDENÇÃO,0,0,0,0,0,0,Yes
9571,5.994262e+14,5565893,F,2016-04-11T09:33:45Z,2016-05-17T00:00:00Z,8,ROMÃO,0,0,0,0,0,0,Yes
65588,5.317254e+14,5607053,F,2016-04-20T11:01:47Z,2016-05-02T00:00:00Z,1,SÃO CRISTÓVÃO,0,0,0,0,0,1,Yes
31352,2.818926e+13,5645496,F,2016-05-02T10:00:29Z,2016-05-13T00:00:00Z,18,DO MOSCOSO,0,0,0,0,0,0,Yes
55639,7.986154e+12,5630057,F,2016-04-27T14:40:25Z,2016-05-03T00:00:00Z,28,BELA VISTA,0,0,0,0,0,1,Yes
40858,7.831761e+12,5532326,F,2016-03-31T10:57:34Z,2016-05-02T00:00:00Z,64,MARIA ORTIZ,0,0,0,0,0,1,Yes
71326,7.759689e+13,5553353,M,2016-04-07T07:14:19Z,2016-05-12T00:00:00Z,4,REPÚBLICA,0,0,0,0,0,1,Yes
55914,9.444243e+11,5640909,F,2016-04-29T11:41:53Z,2016-05-13T00:00:00Z,30,SANTO ANDRÉ,0,0,0,0,0,0,Yes
74602,3.317159e+11,5705037,M,2016-05-16T17:34:24Z,2016-05-19T00:00:00Z,34,JARDIM CAMBURI,0,0,0,0,0,0,Yes
50304,9.134533e+13,5585546,F,2016-04-14T16:59:41Z,2016-05-05T00:00:00Z,31,JARDIM DA PENHA,0,0,0,0,0,1,Yes
27686,4.252858e+13,5720167,M,2016-05-19T13:24:55Z,2016-05-24T00:00:00Z,80,GRANDE VITÓRIA,0,1,0,0,0,1,Yes
102269,8.394266e+13,5768483,F,2016-06-03T07:38:40Z,2016-06-06T00:00:00Z,28,CRUZAMENTO,0,0,0,0,0,1,Yes
38920,7.925599e+13,5607741,M,2016-04-20T12:18:12Z,2016-05-18T00:00:00Z,25,SANTA TEREZA,0,0,0,0,0,0,Yes

In [15]:
target = reduced_raw_df['No-show']
target_names = ['Yes', 'No']

In [16]:
reduced_raw_df['No-show'] = reduced_raw_df['No-show'].astype('category')
reduced_raw_df['No-show'] = reduced_raw_df['No-show'].cat.codes

In [17]:
reduced_raw_df['PatientId'] = reduced_raw_df['PatientId'].astype('category')
reduced_raw_df['PatientId'] = reduced_raw_df['PatientId'].cat.codes

In [18]:
reduced_raw_df['Gender'] = reduced_raw_df['Gender'].astype('category')
reduced_raw_df['Gender'] = reduced_raw_df['Gender'].cat.codes

In [19]:
reduced_raw_df['ScheduledDay'] = reduced_raw_df['ScheduledDay'].astype('category')
reduced_raw_df['ScheduledDay'] = reduced_raw_df['ScheduledDay'].cat.codes

In [20]:
reduced_raw_df['AppointmentDay'] = reduced_raw_df['AppointmentDay'].astype('category')
reduced_raw_df['AppointmentDay'] = reduced_raw_df['AppointmentDay'].cat.codes

In [21]:
reduced_raw_df['Neighbourhood'] = reduced_raw_df['Neighbourhood'].astype('category')
reduced_raw_df['Neighbourhood'] = reduced_raw_df['Neighbourhood'].cat.codes

In [22]:
#Train Test Split
from sklearn.model_selection import train_test_split
X, y = reduced_raw_df.drop(['No-show'],axis=1), reduced_raw_df['No-show'] 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=44)
X_train, y_train = np.array(X_train), np.array(y_train) 
#kf = KFold(n_splits=5, shuffle=True, random_state = 0)

In [23]:
from sklearn.metrics import classification_report

logmodel = LogisticRegression(max_iter=1000)
# Train model
logmodel.fit(X_train,y_train)
# Get predictions
log_pred = logmodel.predict(X_test)
print(classification_report(y_test,log_pred))

              precision    recall  f1-score   support

           0       0.62      0.69      0.65       200
           1       0.65      0.56      0.60       200

    accuracy                           0.63       400
   macro avg       0.63      0.63      0.63       400
weighted avg       0.63      0.63      0.63       400

/Users/felixjarrar/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [24]:
#class_weight='balanced'
logmodel = LogisticRegression(max_iter=1000, class_weight= 'balanced')
# Train model
logmodel.fit(X_train,y_train)
# Get predictions
log_pred = logmodel.predict(X_test)
print(classification_report(y_test,log_pred))

              precision    recall  f1-score   support

           0       0.62      0.69      0.65       200
           1       0.65      0.56      0.60       200

    accuracy                           0.63       400
   macro avg       0.63      0.63      0.63       400
weighted avg       0.63      0.63      0.63       400

/Users/felixjarrar/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)