In [1]:
# Imports
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# Read in the data frame.
raw_df = pd.read_csv("KaggleV2-May-2016.csv")

In [3]:
# Show the first twenty rows.
raw_df.head(20)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
5,9.598513e+13,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,76,REPÚBLICA,0,1,0,0,0,0,No
6,7.336882e+14,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,GOIABEIRAS,0,0,0,0,0,0,Yes
7,3.449833e+12,5630575,F,2016-04-27T15:39:58Z,2016-04-29T00:00:00Z,39,GOIABEIRAS,0,0,0,0,0,0,Yes
8,5.639473e+13,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,ANDORINHAS,0,0,0,0,0,0,No
9,7.812456e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,0,0,0,0,0,No
10,7.345362e+14,5630213,F,2016-04-27T14:58:11Z,2016-04-29T00:00:00Z,30,NOVA PALESTINA,0,0,0,0,0,0,No
11,7.542951e+12,5620163,M,2016-04-26T08:44:12Z,2016-04-29T00:00:00Z,29,NOVA PALESTINA,0,0,0,0,0,1,Yes
12,5.666548e+14,5634718,F,2016-04-28T11:33:51Z,2016-04-29T00:00:00Z,22,NOVA PALESTINA,1,0,0,0,0,0,No
13,9.113946e+14,5636249,M,2016-04-28T14:52:07Z,2016-04-29T00:00:00Z,28,NOVA PALESTINA,0,0,0,0,0,0,No
14,9.988472e+13,5633951,F,2016-04-28T10:06:24Z,2016-04-29T00:00:00Z,54,NOVA PALESTINA,0,0,0,0,0,0,No
15,9.994839e+10,5620206,F,2016-04-26T08:47:27Z,2016-04-29T00:00:00Z,15,NOVA PALESTINA,0,0,0,0,0,1,No
16,8.457439e+13,5633121,M,2016-04-28T08:51:47Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,No
17,1.479497e+13,5633460,F,2016-04-28T09:28:57Z,2016-04-29T00:00:00Z,40,CONQUISTA,1,0,0,0,0,0,Yes
18,1.713538e+13,5621836,F,2016-04-26T10:54:18Z,2016-04-29T00:00:00Z,30,NOVA PALESTINA,1,0,0,0,0,1,No
19,7.223289e+12,5640433,F,2016-04-29T10:43:14Z,2016-04-29T00:00:00Z,46,DA PENHA,0,0,0,0,0,0,No

In [4]:
# Get the shape of the data. 

raw_df.shape

(110527, 14)

In [5]:
# Show the data rows. 

raw_df.head(2)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No

In [6]:
# Show the the 'No-show' column.

raw_df['No-show']

0         No
1         No
2         No
3         No
4         No
          ..
110522    No
110523    No
110524    No
110525    No
110526    No
Name: No-show, Length: 110527, dtype: object

In [7]:
# Show the value counts for the data. 

raw_df['No-show'].value_counts()

No     88208
Yes    22319
Name: No-show, dtype: int64

In [8]:
# Define the sample size for balancing the data. 
n_rows_to_sample = 1000

In [9]:
# Balance the data.
no_show_raw_df = raw_df[raw_df['No-show']=='Yes']
print(no_show_raw_df.shape)
no_show_raw_df = no_show_raw_df.sample(n = n_rows_to_sample, random_state = 0)
print(no_show_raw_df.shape)

(22319, 14)
(1000, 14)

In [10]:
# Balance the data.
show_raw_df = raw_df[raw_df['No-show']=='No']
print(show_raw_df.shape)
show_raw_df = show_raw_df.sample(n = n_rows_to_sample, random_state = 0)
print(show_raw_df.shape)

(88208, 14)
(1000, 14)

In [11]:
# Balance the data.
reduced_raw_df = no_show_raw_df.append(show_raw_df)
reduced_raw_df.shape

(2000, 14)

In [12]:
# Show the first two rows.
reduced_raw_df.head(2)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
99054,4.852530e+11,5733501,F,2016-05-24T13:57:02Z,2016-06-06T00:00:00Z,21,DA PENHA,0,0,0,0,0,1,Yes
110482,5.944225e+14,5639147,F,2016-04-29T08:45:44Z,2016-06-06T00:00:00Z,43,RESISTÊNCIA,1,0,0,0,0,1,Yes

In [13]:
# Replace 'Yes' with the value 0 and 'No' with the value 1. 

reduced_raw_df.replace(['Yes', 'No'], value=[0, 1])

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
99054,4.852530e+11,5733501,F,2016-05-24T13:57:02Z,2016-06-06T00:00:00Z,21,DA PENHA,0,0,0,0,0,1,0
110482,5.944225e+14,5639147,F,2016-04-29T08:45:44Z,2016-06-06T00:00:00Z,43,RESISTÊNCIA,1,0,0,0,0,1,0
101296,8.178334e+13,5763288,M,2016-06-02T08:46:25Z,2016-06-02T00:00:00Z,60,CENTRO,0,0,0,0,0,0,0
79550,5.242553e+13,5619395,M,2016-04-26T07:58:07Z,2016-05-04T00:00:00Z,14,DA PENHA,0,0,0,0,0,1,0
78116,8.268896e+14,5685155,F,2016-05-11T09:46:17Z,2016-05-17T00:00:00Z,30,SANTA MARTHA,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65731,2.554982e+12,5741906,F,2016-05-30T07:33:04Z,2016-05-30T00:00:00Z,76,SÃO CRISTÓVÃO,0,1,1,0,0,0,1
73006,7.318389e+13,5670176,F,2016-05-06T13:13:57Z,2016-05-16T00:00:00Z,4,ESTRELINHA,0,0,0,0,0,0,1
108524,9.432277e+09,5758129,F,2016-06-01T10:18:40Z,2016-06-06T00:00:00Z,64,SANTOS DUMONT,0,0,0,0,0,1,1
51517,9.997776e+11,5626602,F,2016-04-27T08:25:33Z,2016-05-11T00:00:00Z,37,PIEDADE,0,1,0,0,0,1,1
25557,7.988888e+12,5643140,F,2016-05-02T07:09:39Z,2016-05-09T00:00:00Z,20,GOIABEIRAS,0,0,0,0,0,0,1

In [14]:
reduced_raw_df.head(50)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
99054,4.852530e+11,5733501,F,2016-05-24T13:57:02Z,2016-06-06T00:00:00Z,21,DA PENHA,0,0,0,0,0,1,Yes
110482,5.944225e+14,5639147,F,2016-04-29T08:45:44Z,2016-06-06T00:00:00Z,43,RESISTÊNCIA,1,0,0,0,0,1,Yes
101296,8.178334e+13,5763288,M,2016-06-02T08:46:25Z,2016-06-02T00:00:00Z,60,CENTRO,0,0,0,0,0,0,Yes
79550,5.242553e+13,5619395,M,2016-04-26T07:58:07Z,2016-05-04T00:00:00Z,14,DA PENHA,0,0,0,0,0,1,Yes
78116,8.268896e+14,5685155,F,2016-05-11T09:46:17Z,2016-05-17T00:00:00Z,30,SANTA MARTHA,0,0,0,0,0,0,Yes
105265,1.422834e+11,5766102,M,2016-06-02T14:25:43Z,2016-06-02T00:00:00Z,7,BELA VISTA,1,0,0,0,0,0,Yes
46332,5.588244e+14,5658780,M,2016-05-04T11:52:56Z,2016-05-18T00:00:00Z,52,JARDIM CAMBURI,0,1,0,0,0,0,Yes
35245,4.834932e+14,5738962,F,2016-05-25T12:04:58Z,2016-05-30T00:00:00Z,16,TABUAZEIRO,1,0,0,0,0,1,Yes
50760,3.723685e+12,5585171,M,2016-04-14T15:53:44Z,2016-05-10T00:00:00Z,45,SANTOS DUMONT,0,0,0,0,0,0,Yes
16394,9.199117e+13,5633368,F,2016-04-28T09:22:54Z,2016-05-10T00:00:00Z,54,TABUAZEIRO,1,1,0,0,0,1,Yes
62894,7.965423e+11,5413328,F,2016-03-01T09:30:11Z,2016-05-04T00:00:00Z,75,JARDIM CAMBURI,0,0,0,0,0,1,Yes
82220,7.737800e+12,5624562,F,2016-04-26T16:19:43Z,2016-05-31T00:00:00Z,53,ITARARÉ,0,0,0,1,0,1,Yes
44559,1.964539e+13,5647120,F,2016-05-02T12:55:46Z,2016-05-09T00:00:00Z,44,GURIGICA,0,1,0,0,0,0,Yes
9578,1.551669e+12,5549244,M,2016-04-06T09:38:50Z,2016-05-11T00:00:00Z,26,ROMÃO,0,0,0,0,0,1,Yes
72978,1.353654e+11,5635320,F,2016-04-28T13:09:16Z,2016-05-25T00:00:00Z,37,JARDIM CAMBURI,0,0,0,1,0,1,Yes
104383,8.347981e+11,5767593,M,2016-06-02T18:49:56Z,2016-06-08T00:00:00Z,50,DO CABRAL,0,1,0,0,0,1,Yes
24589,6.118786e+11,5698230,F,2016-05-16T07:23:32Z,2016-05-18T00:00:00Z,61,RESISTÊNCIA,1,1,0,0,0,0,Yes
52657,5.764477e+14,5534234,F,2016-03-31T15:34:11Z,2016-05-20T00:00:00Z,39,JESUS DE NAZARETH,0,0,0,0,0,0,Yes
13880,5.849162e+14,5688109,F,2016-05-12T06:41:07Z,2016-05-16T00:00:00Z,67,INHANGUETÁ,0,1,1,0,0,0,Yes
43415,9.214626e+12,5617096,M,2016-04-25T15:22:59Z,2016-05-09T00:00:00Z,9,ILHA DO PRÍNCIPE,1,0,0,0,0,0,Yes
6268,1.257286e+13,5648023,F,2016-05-02T14:54:21Z,2016-05-04T00:00:00Z,46,SANTA TEREZA,0,0,0,0,0,0,Yes
33337,7.766948e+13,5596353,F,2016-04-18T14:27:10Z,2016-05-16T00:00:00Z,43,SANTA MARTHA,0,0,0,0,0,0,Yes
27910,1.856526e+13,5680737,M,2016-05-10T12:31:53Z,2016-05-13T00:00:00Z,49,CRUZAMENTO,0,0,0,0,0,0,Yes
25086,8.759673e+13,5602687,M,2016-04-19T15:32:47Z,2016-05-03T00:00:00Z,41,ANDORINHAS,0,0,0,0,1,1,Yes
49836,2.686554e+14,5570817,F,2016-04-12T08:18:31Z,2016-05-03T00:00:00Z,28,JARDIM DA PENHA,0,0,0,0,0,1,Yes
11065,2.932789e+13,5512500,M,2016-03-28T08:57:08Z,2016-05-02T00:00:00Z,5,RESISTÊNCIA,0,0,0,0,0,1,Yes
106027,4.638723e+13,5758018,F,2016-06-01T10:08:43Z,2016-06-06T00:00:00Z,73,SANTA MARTHA,0,1,0,0,1,1,Yes
57910,4.568798e+13,5621920,M,2016-04-26T11:02:55Z,2016-05-19T00:00:00Z,0,CONQUISTA,0,0,0,0,0,0,Yes
2766,9.359623e+11,5598444,M,2016-04-19T07:34:47Z,2016-04-29T00:00:00Z,10,SÃO JOSÉ,0,0,0,0,0,1,Yes
110173,7.628193e+13,5756815,F,2016-06-01T08:42:10Z,2016-06-03T00:00:00Z,44,CENTRO,0,0,0,0,0,0,Yes
71419,6.733238e+13,5676169,M,2016-05-09T15:07:28Z,2016-05-10T00:00:00Z,82,MONTE BELO,0,0,0,0,0,0,Yes
21061,2.744384e+14,5645032,F,2016-05-02T09:25:09Z,2016-05-11T00:00:00Z,31,REPÚBLICA,0,0,0,0,0,1,Yes
53241,6.575144e+13,5691867,M,2016-05-12T13:51:32Z,2016-05-12T00:00:00Z,14,ILHA DO PRÍNCIPE,0,0,0,0,0,0,Yes
21082,1.861595e+10,5658280,F,2016-05-04T10:49:43Z,2016-05-16T00:00:00Z,28,BOA VISTA,0,0,0,0,0,0,Yes
88943,4.197426e+14,5706723,F,2016-05-17T08:44:32Z,2016-06-01T00:00:00Z,35,BELA VISTA,1,0,0,0,0,1,Yes
104455,9.175546e+13,5734881,F,2016-05-24T16:20:59Z,2016-06-01T00:00:00Z,66,SANTO ANDRÉ,0,0,0,0,0,1,Yes
97765,1.115578e+11,5761649,F,2016-06-02T06:47:42Z,2016-06-02T00:00:00Z,45,CENTRO,0,0,0,0,0,0,Yes
63888,1.781970e+12,5732162,F,2016-05-24T11:04:57Z,2016-05-24T00:00:00Z,17,REDENÇÃO,0,0,0,0,0,0,Yes
9571,5.994262e+14,5565893,F,2016-04-11T09:33:45Z,2016-05-17T00:00:00Z,8,ROMÃO,0,0,0,0,0,0,Yes
65588,5.317254e+14,5607053,F,2016-04-20T11:01:47Z,2016-05-02T00:00:00Z,1,SÃO CRISTÓVÃO,0,0,0,0,0,1,Yes
31352,2.818926e+13,5645496,F,2016-05-02T10:00:29Z,2016-05-13T00:00:00Z,18,DO MOSCOSO,0,0,0,0,0,0,Yes
55639,7.986154e+12,5630057,F,2016-04-27T14:40:25Z,2016-05-03T00:00:00Z,28,BELA VISTA,0,0,0,0,0,1,Yes
40858,7.831761e+12,5532326,F,2016-03-31T10:57:34Z,2016-05-02T00:00:00Z,64,MARIA ORTIZ,0,0,0,0,0,1,Yes
71326,7.759689e+13,5553353,M,2016-04-07T07:14:19Z,2016-05-12T00:00:00Z,4,REPÚBLICA,0,0,0,0,0,1,Yes
55914,9.444243e+11,5640909,F,2016-04-29T11:41:53Z,2016-05-13T00:00:00Z,30,SANTO ANDRÉ,0,0,0,0,0,0,Yes
74602,3.317159e+11,5705037,M,2016-05-16T17:34:24Z,2016-05-19T00:00:00Z,34,JARDIM CAMBURI,0,0,0,0,0,0,Yes
50304,9.134533e+13,5585546,F,2016-04-14T16:59:41Z,2016-05-05T00:00:00Z,31,JARDIM DA PENHA,0,0,0,0,0,1,Yes
27686,4.252858e+13,5720167,M,2016-05-19T13:24:55Z,2016-05-24T00:00:00Z,80,GRANDE VITÓRIA,0,1,0,0,0,1,Yes
102269,8.394266e+13,5768483,F,2016-06-03T07:38:40Z,2016-06-06T00:00:00Z,28,CRUZAMENTO,0,0,0,0,0,1,Yes
38920,7.925599e+13,5607741,M,2016-04-20T12:18:12Z,2016-05-18T00:00:00Z,25,SANTA TEREZA,0,0,0,0,0,0,Yes

In [15]:
# Define target variables.
target = reduced_raw_df['No-show']
target_names = ['Yes', 'No']

In [16]:
# Turn the strings into numbers.
reduced_raw_df['No-show'] = reduced_raw_df['No-show'].astype('category')
reduced_raw_df['No-show'] = reduced_raw_df['No-show'].cat.codes

In [17]:
reduced_raw_df['PatientId'] = reduced_raw_df['PatientId'].astype('category')
reduced_raw_df['PatientId'] = reduced_raw_df['PatientId'].cat.codes

In [18]:
reduced_raw_df['Gender'] = reduced_raw_df['Gender'].astype('category')
reduced_raw_df['Gender'] = reduced_raw_df['Gender'].cat.codes

In [19]:
reduced_raw_df['ScheduledDay'] = reduced_raw_df['ScheduledDay'].astype('category')
reduced_raw_df['ScheduledDay'] = reduced_raw_df['ScheduledDay'].cat.codes

In [20]:
reduced_raw_df['AppointmentDay'] = reduced_raw_df['AppointmentDay'].astype('category')
reduced_raw_df['AppointmentDay'] = reduced_raw_df['AppointmentDay'].cat.codes

In [21]:
reduced_raw_df['Neighbourhood'] = reduced_raw_df['Neighbourhood'].astype('category')
reduced_raw_df['Neighbourhood'] = reduced_raw_df['Neighbourhood'].cat.codes

In [22]:
# Show first fifty rows with data as integers. 
reduced_raw_df.head(50)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
99054,201,5733501,0,1605,24,21,14,0,0,0,0,0,1,1
110482,1762,5639147,0,573,24,43,55,1,0,0,0,0,1,1
101296,1365,5763288,1,1847,22,60,9,0,0,0,0,0,0,1
79550,1143,5619395,1,406,3,14,14,0,0,0,0,0,1,1
78116,1865,5685155,0,1128,13,30,62,0,0,0,0,0,0,1
105265,109,5766102,1,1863,22,7,4,1,0,0,0,0,0,1
46332,1748,5658780,1,809,14,52,35,0,1,0,0,0,0,1
35245,1708,5738962,0,1664,19,16,74,1,0,0,0,0,1,1
50760,496,5585171,1,219,7,45,66,0,0,0,0,0,0,1
16394,1440,5633368,0,511,7,54,74,1,1,0,0,0,1,1
62894,284,5413328,0,11,3,75,35,0,0,0,0,0,1,1
82220,710,5624562,0,444,20,53,33,0,0,0,1,0,1,1
44559,913,5647120,0,673,6,44,26,0,1,0,0,0,0,1
9578,374,5549244,1,126,8,26,56,0,0,0,0,0,1,1
72978,107,5635320,0,524,18,37,35,0,0,0,1,0,1,1
104383,290,5767593,1,1876,26,50,16,0,1,0,0,0,1,1
24589,236,5698230,0,1293,14,61,55,1,1,0,0,0,0,1
52657,1757,5534234,0,86,16,39,37,0,0,0,0,0,0,1
13880,1761,5688109,0,1165,12,67,32,0,1,1,0,0,0,1
43415,784,5617096,1,391,6,9,31,1,0,0,0,0,0,1
6268,853,5648023,0,685,3,46,63,0,0,0,0,0,0,1
33337,1334,5596353,0,283,12,43,62,0,0,0,0,0,0,1
27910,906,5680737,1,1064,10,49,13,0,0,0,0,0,0,1
25086,1408,5602687,1,308,2,41,0,0,0,0,0,1,1,1
49836,1581,5570817,0,183,2,28,36,0,0,0,0,0,1,1
11065,979,5512500,1,65,1,5,55,0,0,0,0,0,1,1
106027,1106,5758018,0,1818,24,73,62,0,1,0,0,1,1,1
57910,1100,5621920,1,426,15,0,11,0,0,0,0,0,0,1
2766,320,5598444,1,292,0,10,72,0,0,0,0,0,1,1
110173,1323,5756815,0,1808,23,44,9,0,0,0,0,0,0,1
71419,1256,5676169,1,1010,7,82,43,0,0,0,0,0,0,1
21061,1587,5645032,0,648,8,31,54,0,0,0,0,0,1,1
53241,1248,5691867,1,1214,9,14,31,0,0,0,0,0,0,1
21082,29,5658280,0,805,12,28,6,0,0,0,0,0,0,1
88943,1663,5706723,0,1372,21,35,4,1,0,0,0,0,1,1
104455,1438,5734881,0,1621,21,66,64,0,0,0,0,0,1,1
97765,101,5761649,0,1836,22,45,9,0,0,0,0,0,0,1
63888,384,5732162,0,1593,17,17,53,0,0,0,0,0,0,1
9571,1763,5565893,0,175,13,8,56,0,0,0,0,0,0,1
65588,1729,5607053,0,337,1,1,71,0,0,0,0,0,1,1
31352,971,5645496,0,654,10,18,17,0,0,0,0,0,0,1
55639,728,5630057,0,491,2,28,4,0,0,0,0,0,1,1
40858,717,5532326,0,81,1,64,40,0,0,0,0,0,1,1
71326,1333,5553353,1,140,9,4,54,0,0,0,0,0,1,1
55914,323,5640909,0,602,10,30,64,0,0,0,0,0,0,1
74602,161,5705037,1,1352,15,34,35,0,0,0,0,0,0,1
50304,1433,5585546,0,221,4,31,36,0,0,0,0,0,1,1
27686,1078,5720167,1,1501,17,80,25,0,1,0,0,0,1,1
102269,1380,5768483,0,1883,24,28,13,0,0,0,0,0,1,1
38920,1352,5607741,1,341,14,25,63,0,0,0,0,0,0,1

In [23]:
reduced_raw_df['No-show'].unique()

array([1, 0])

In [24]:
# important train test split

from sklearn.model_selection import train_test_split
y=reduced_raw_df['No-show']
X=reduced_raw_df.drop(['No-show'], axis = 1)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [25]:
# Support vector machine linear classifier
from sklearn.svm import SVC

model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [26]:
# Model Accuracy
print('Test Acc: %.3f' % model.score(X_test, y_test))

Test Acc: 0.574

In [27]:
# Calculate classification report
from sklearn.metrics import classification_report

predictions = model.predict(X_test)
print(classification_report(y_test, predictions,
                            target_names=target_names))

              precision    recall  f1-score   support

         Yes       0.56      0.65      0.60       246
          No       0.60      0.50      0.55       254

    accuracy                           0.57       500
   macro avg       0.58      0.58      0.57       500
weighted avg       0.58      0.57      0.57       500

In [28]:
# Initialize SVM classifier
from sklearn import svm
clf_estimator_instance = svm.SVC(kernel='linear')

In [29]:
# Fit data
clf_estimator_instance = clf_estimator_instance.fit(X_train, y_train)

In [30]:
# Get the support vector indices with the estimator instance (clf)
svm_indices = clf_estimator_instance.support_
print(svm_indices)

[   0    2    6   14   19   20   23   24   25   28   32   37   51   54
   58   62   70   72   73   74   79   80   82   84   85   88  101  109
  110  112  114  115  116  122  131  132  138  139  142  144  148  149
  153  156  158  159  165  167  168  169  178  186  195  198  199  202
  204  209  210  216  220  229  237  241  243  244  245  250  251  253
  255  258  259  260  266  268  270  273  277  278  283  302  305  306
  311  312  313  315  316  318  321  324  327  333  335  336  337  340
  341  342  344  347  348  349  353  357  360  363  364  367  369  372
  377  384  386  392  395  396  398  402  407  408  410  412  425  428
  430  435  442  445  449  450  456  457  458  464  466  471  477  488
  493  498  501  504  506  508  511  512  514  515  517  526  530  532
  534  538  539  541  543  546  547  553  554  556  562  563  564  567
  568  578  580  583  586  588  589  590  593  594  595  597  599  601
  602  606  608  616  620  627  628  632  634  643  652  655  656  657
  658  662  663  664  666  667  668  672  680  683  685  686  693  695
  696  705  711  714  715  717  729  730  740  742  747  754  758  759
  760  778  787  788  791  794  795  796  803  804  805  806  815  822
  823  825  829  833  834  837  838  840  843  844  849  851  854  859
  861  870  874  884  885  887  888  889  894  896  899  900  903  904
  910  914  921  922  926  928  932  933  937  938  941  942  949  953
  954  955  956  965  967  968  976  977  983  984  986  990  994  998
 1000 1003 1005 1006 1011 1012 1020 1021 1025 1031 1033 1034 1039 1040
 1045 1047 1048 1049 1050 1057 1058 1059 1062 1065 1068 1071 1073 1074
 1075 1077 1081 1085 1086 1087 1093 1094 1097 1110 1115 1117 1120 1121
 1122 1123 1129 1130 1138 1139 1149 1154 1155 1166 1170 1173 1174 1178
 1179 1181 1182 1186 1187 1188 1192 1198 1199 1200 1203 1207 1208 1209
 1215 1219 1221 1222 1223 1226 1227 1229 1231 1233 1234 1235 1237 1239
 1244 1246 1248 1252 1256 1257 1260 1262 1263 1267 1268 1272 1274 1276
 1281 1286 1289 1290 1293 1297 1306 1309 1311 1314 1315 1323 1324 1325
 1328 1329 1331 1339 1342 1357 1359 1369 1370 1373 1374 1376 1380 1382
 1383 1385 1391 1392 1393 1394 1395 1398 1399 1400 1408 1412 1423 1424
 1431 1432 1433 1438 1440 1454 1457 1475 1482 1485 1487 1490 1492 1493
    1    3    4    9   17   27   30   31   34   36   40   44   45   47
   49   52   57   60   63   65   68   69   75   76   77   78   83   89
   91   93   96   97  104  105  106  107  108  113  117  118  119  120
  121  123  124  126  127  128  133  137  141  151  152  154  157  162
  166  170  171  175  176  177  182  183  185  187  190  191  192  193
  207  214  219  222  223  224  225  227  232  233  239  240  242  247
  252  254  261  262  263  267  269  271  275  282  286  291  293  296
  297  299  307  314  319  323  325  328  339  351  361  365  368  374
  375  383  385  387  388  389  394  397  399  403  404  409  411  413
  415  416  422  423  424  434  443  453  454  455  461  462  463  465
  467  470  472  473  474  476  478  481  482  486  489  491  499  500
  505  510  513  518  519  522  527  528  533  535  540  542  544  545
  548  551  552  555  557  559  560  561  565  569  573  577  579  587
  596  607  611  613  615  617  623  630  633  637  638  640  641  644
  645  646  648  649  650  660  661  670  671  673  674  676  677  682
  687  692  694  701  702  704  707  710  716  719  720  724  727  728
  734  739  743  744  746  749  752  755  761  765  767  768  769  772
  776  779  789  793  799  800  801  810  811  818  828  830  836  841
  846  855  860  865  871  875  879  880  883  891  892  906  907  908
  909  917  920  924  925  929  930  934  936  939  945  948  950  951
  958  961  966  969  970  971  972  973  974  985  992  995  996 1001
 1010 1013 1014 1015 1016 1019 1024 1026 1027 1028 1030 1032 1036 1038
 1042 1044 1046 1052 1054 1060 1061 1066 1070 1072 1078 1079 1083 1091
 1098 1100 1102 1104 1105 1106 1111 1112 1114 1116 1119 1124 1126 1127
 1136 1147 1148 1156 1158 1162 1163 1164 1167 1171 1175 1176 1189 1190
 1191 1193 1195 1201 1202 1205 1206 1210 1211 1212 1213 1216 1217 1224
 1225 1236 1247 1249 1250 1251 1254 1255 1259 1264 1269 1270 1271 1273
 1283 1288 1292 1298 1299 1303 1307 1313 1320 1326 1327 1333 1334 1335
 1337 1338 1343 1348 1349 1354 1355 1356 1358 1361 1362 1364 1365 1366
 1368 1372 1375 1381 1384 1386 1387 1390 1396 1402 1404 1405 1409 1410
 1411 1413 1414 1417 1420 1421 1426 1428 1429 1435 1442 1443 1446 1448
 1452 1455 1456 1459 1460 1465 1466 1469 1474 1476 1477 1480 1483 1489]

In [31]:
# The number of vectors.
len(svm_indices)

896